.description-container {
    width: 80vw;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}
  
.collapsed {
    max-height: 15vw; /* Altura de la descripción colapsada */
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
}
  
.expanded {
    max-height: 900vw; /* Altura máxima que alcanza al expandirse */
    overflow: visible;
    transition: max-height 0.3s ease;
}
  
.fade {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Altura del degradado */
    background: linear-gradient(to top, white, transparent);
}
  