.blogHeaderBack{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0vw 5vw;
    margin-bottom: 3vh;
    height: 35vh;
    box-shadow: inset 0 0 20px 7px black;
}

.blogHeaderBack>img{
    width: 13vw;
    border-radius: 100px;
    border: solid yellow 5px;
}

.blogData{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffffc2;
    height: 29vh;
    flex: 0.85;
}

.blogData>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 2%;
    flex: 0.75;
}

.subButton{
    background-color: var(--main-color);
    color: var(--font-color1);
    font-weight: bold;
    border: solid var(--second-color);
    padding: 1% 3%;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.25s;
}

.unsubButton{
    background-color: gainsboro;
    color: var(--second-color);
    font-weight: bold;
    border: solid var(--second-color);
    padding: 1% 3%;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.25s;
}

.subButton:hover{
    background-color: var(--second-color);
}

.unsubButton:hover{
    background-color: rgb(137, 137, 137);
}