
.blog-card {
    position: relative;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.25s;
    justify-content: center;
    align-items: flex-start;
}

.actions {
    font-size: 1vw;
    display: flex;
    gap: 10px;
}

.actions > a {
    padding: 10px;
}

.blog-card-blogger>a:hover, .actions>a:hover{
    color: #fffa00 !important;
}

.blog-card:hover{
    box-shadow: 0 0 10px 2px var(--main-color);
}

.blog-card-div {
    width: 100%;
    position: absolute;
    max-height: 50%;
    height: 50%;
    bottom: 0px;
    display: flex;
    background-color: #c20000;
    border-radius: 0 0 10px 10px;

}

.blog-card-data{
    margin-left: 5%;
    position: relative;
    z-index: 2;
    display: flex;
    gap: 20px;
    align-items: center;
}

.blog-card-icon {
    width: 5.5vw;
    height: 5.5vw;
    border: 4px solid yellow;
    border-radius: 100%;
}

.blog-card-div-content {
    top: -25%;
    left: 8%;

    color: white;
}

.blog-card-name {
    font-size: 2vw;
    font-weight: 600;
}

.blog-card-blogger {
    font-size: 1.5vw;
    font-weight: 400;
}

.modal-overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content button {
    margin: 10px;
}


@media screen and (width <= 500px) {
    .blog-card {
        height: 10vh;
    }

    .blog-card-icon {
        width: 7vw;
        height: 7vw;
        border: 2px solid yellow;
    }

    .blog-card-name {
        font-size: 2.5vw;
    }

    .blog-card-blogger {
        font-size: 2vw;
    }
}