.post-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    align-items: center;

    padding: 30px;
    border-radius: 10px;

    min-height: 18vh;

    cursor: pointer;

    background-color: var(--fourth-color);
    color: var(--font-color2);
    transition-duration: 0.25s;
}

.post-card:hover{
    box-shadow: inset 0 0 10px 2px var(--second-color);
}

.post-card-img {
    border-radius: 10px;
    width: 16vw;
    max-height: 250px;
}

.post-card-div {
    display: flex;
    flex-direction: column;

    row-gap: 30px;
}

.post-card-div-up {
    display: flex;
    justify-content: space-between;
}

.post-card-title {
    font-size: 2vw;
    font-weight: 600;
}

.post-card-subtitle {
    font-size: 1.3vw;
    font-weight: 300;
}

.post-card-div-up-blogger {
    display: flex;
    align-items: center;

    gap: 10px;
}

.post-card-blogger-img {
    width: 3vw;
    height: 3vw;
    border: 0.2vw solid yellow;
    border-radius: 100%;
}

.post-card-blogger-name {
    font-size: 1vw;
    font-weight: 500;
}

.post-card-div-down {
    font-weight: bold;
    text-align: justify;

    font-size: 0.8vw;

    max-width: 70%;
}


@media screen and (width <= 500px) {
    .post-card {
        grid-template-columns: 1fr 5fr;
        padding: 10px;

        min-height: 12vh;

        gap: 10px;
    }

    .post-card-div {
        row-gap: 15px;
    }

    .post-card-div-up-blogger {
        gap: 5px;
        padding-right: 10px;
    }

    .post-card-div-down {
        font-size: 1vw;
        max-width: 90%;
    }

    .post-card-img {
        width: auto;
        height: 8vh;
    }

    .post-card-title {
        font-size: 3vw;
    }

    .post-card-subtitle {
        font-size: 2vw;
    }

    .post-card-blogger-name {
        font-size: 1.5vw;
    }
    
    .post-card-div-down {
        font-size: 1.4vw;
    }
}