.auth-card {
    background-color: lightgray;

    width: 40%;
    margin: 0 auto 40px;
    padding: 20px 20px 40px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.auth-card-title {
    font-size: 30px;
    font-weight: 600;
}

.auth-card-form {
    display: flex;
    flex-direction: column;

    width: 100%;

    row-gap: 20px;
}

.auth-card-form input, button{
    padding: 10px 15px;

    border: none;
    border-radius: 5px;

    background-color: #f5f5f5;
}

.auth-card-form button{
    color: white;
    background-color: #bc0f0f;
}

.auth-card-form button:hover{
    cursor: pointer;
    background-color: rgba(185, 30, 30, 0.9);
}

.legal-span {
    font-size: 14px;
}

.auth-card a{
    text-decoration: none;
    color: #bc0f0f;
    font-weight: 600;
}

.error-message {
    color: red;
}

.captcha {
    margin: 0 auto;
}

.form-divider {
    width: 80%;
    height: 2px;
    background-color: black;
    border: none;
}

.social-media-login {
    vertical-align: middle;
}

.social-media-login > div {
    display: flex;
    gap: 10px;

    background-color: goldenrod;

    padding: 5px 20px;

    border-radius: 50px;
}

.register-ask {
    font-size: 20px;
}

.register-ask a:hover {
    color: rgba(255, 0, 0, 0.473);
}

@media screen and (width <= 1000px) {
    .auth-card {
        width: 80%;
    }
}