/* FileUploader.css */
.file-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.file-input-container input[type="file"] {
    display: none;
}

.file-label {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: inset 0 0 4px 1px var(--second-color);
    transition-duration: 0.25s;
}

.file-input-container button {
    margin-left: 10px;
    background-color: var(--second-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition-duration: 0.25s;
}

.file-input-container button:hover,
.file-label:hover {
    opacity: 0.8;
}

.file-input-container img.file-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}
