.commentBox{
    padding: 2%;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 1px var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    row-gap: 20px;
    background: var(--fourth-color);
    width: 100%;
}

.commentBox>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    row-gap: 20px;
}

.commentBox>div>img{
    width: 50px;
    height: 50px;
    border: solid yellow;
    border-radius: 50px;
}