
.commentForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    row-gap: 20px;
    background-color: var(--fourth-color);
    padding: 2%;
    border-radius: 10px;
    box-shadow: inset 0 0 4px 1px var(--main-color);
    margin-bottom: 3vh;
}

.commentForm>textarea{
    padding: 1%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0 0 4px 1px black;
}

.submitBox{
    display: flex;
    justify-content: flex-end;
}

.submitBox>input{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0 0 var(--second-color);
}

.submitBox>input:hover{
    background-color: var(--second-color);
}

.commentBox{
    padding: 2%;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 1px var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    row-gap: 20px;
    background: var(--fourth-color);
    width: 100%;
}

.commentBox>div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    row-gap: 20px;
}

.commentBox>div>img{
    width: 50px;
    height: 50px;
    border: solid yellow;
    border-radius: 50px;
}

.commentBoxChild {
    width: 100%;
}

.commentBox a{
    cursor: pointer;
}

.commentsSide {
    display: flex;
    flex-direction: column;
    gap: 20px;
}