
.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.blogs li{
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 0.15 0 20%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: darkgray 2px 2px 5px 0px;
    transition-duration: 0.25s;
}

.blogData{
    color: white;
    font-size: x-large;
    font-weight: bold;
    position: relative;
    z-index: 2;
    display: flex ;
    gap: 10px;
    align-items: center ;
}

.back{
    left: 0;
    bottom: 0;
    position: absolute;
    background: var(--main-color);
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.blogs li:hover{
    box-shadow: var(--main-color) 0px 0px 5px 2px;
}

.blogs li img{
    width: 20%;
    border: solid yellow;
    border-radius: 50px;
}