.divBox1{
    display: flex;
    justify-content: center;
}

.addBlogFormBox{
    display: flex;
    justify-content: center;
    background-color: var(--fourth-color);
    padding: 2% 0%;
    flex: 0.35 1;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 0 0 3px 2px var(--main-color);
}

.desc{
    flex-direction: column !important;
    align-items: flex-start !important;
}

.desc>textarea{
    width: 100%;
    flex: 1 0 80px;
    box-shadow: inset 0 0 1px 1px grey;
    border-radius: 3px;
    padding: 1% 2%;
}

.addBlogForm{
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 30px;
    /* flex: 0.5; */
    align-items: flex-end;
}

.addBlogForm>h2{
    width: 100%;
    color: var(--second-color);
}

.addBlogForm>div{
    font-size: small;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.addBlogForm>div>label, .title-label{
    color: var(--second-color);
    font-weight: bold;
}

.addBlogForm>div>input, .addBlogForm>div>select{
    height: 30px;
    border: none;
    box-shadow: inset 0 0 1px 1px grey;
    border-radius: 3px;
    padding: 0% 2%;
}

.addBlogForm>button{
    cursor: pointer;
    padding: 1% 3%;
    border-radius: 20px;
    background: var(--main-color);
    color: var(--font-color1);
    font-weight: bold;
    border: solid var(--second-color);
    transition-duration: 0.25s;
}

.addBlogForm>button:hover{
    color: var(--main-color) !important;
    background: var(--font-color1);
    border: solid var(--main-color);
}

/* Estilos generales para los contenedores */
div.custom-file-input {
    position: relative;
    /* width: 200px; */
    /* margin: 10px; */
}
  
/* Estilo para simular el botón 'Seleccionar imagen' */
input[type='file'] {
    width: 200px;
    height: 30px;
    opacity: 0; /* Ocultar el input real */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Colocar sobre el texto */
    cursor: pointer;
}
  
/* Estilo para el texto y el botón 'Cambiar imagen' */
label.custom-file-label {
    cursor: pointer;
    background-color: var(--main-color);
    color: white !important;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 0 4px 1px var(--second-color);
}
  
/* Estilo para el nombre del archivo seleccionado */
span.file-name {
    margin-left: 10px;
}
  