.addEventMain {
    width: 80vw;
    padding: 50px 10vw;
    margin: 0 auto;
    border-radius: 20px;

    background-color: lightgray;

    margin-bottom: 40px;
}

.addEventForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addEventForm>p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;

    margin-top: 20px;
    margin-bottom: 10px;
}

.addEventForm>div:last-of-type {
    margin-top: 20px;
}

.addEventForm>div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 15px;
    padding: 15px 0;
    width: 100%;
}

.addEventForm>div>p, .title-label {
    font-weight: 600;
}

.addEventForm>div>input,select {
    padding: 5px;
}

.addEventForm>button {
    margin: 20px auto 0;
    width: 50%;
    height: 80px;

    border: none;
    background-color: rgb(252, 78, 78);

    font-size: 50px;
    font-weight: 600;

    border-radius: 20px;
    
    cursor: pointer;
}

.addEventForm>button:hover {
    background-color: rgb(255, 116, 116);
}

/* Estilos generales para los contenedores */
div.custom-file-input {
    position: relative;
    /* width: 200px; */
    /* margin: 10px; */
}
  
/* Estilo para simular el botón 'Seleccionar imagen' */
input[type='file'] {
    width: 200px;
    height: 30px;
    opacity: 0; /* Ocultar el input real */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Colocar sobre el texto */
    cursor: pointer;
}
  
/* Estilo para el texto y el botón 'Cambiar imagen' */
label.custom-file-label {
    cursor: pointer;
    background-color: var(--main-color);
    color: white !important;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 28rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 0 4px 1px var(--second-color);
}
  
/* Estilo para el nombre del archivo seleccionado */
span.file-name {
    margin-left: 10px;
}