.divBox1{
    display: flex;
    justify-content: center;
}

.addBlogFormBox{
    display: flex;
    justify-content: center;
    background-color: var(--fourth-color);
    padding: 2% 0%;
    flex: 0.75 1;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 0 0 3px 2px var(--main-color);
}

.addBlogForm>div{
    display: flex;
    gap: 30px;

}

.textareasBox{
    flex-direction: column;
    width: 100%;
}

.part{
    display: flex;
    flex-direction: column;
    gap: inherit;
}

.desc{
    flex-direction: column !important;
    align-items: flex-start !important;
}

.desc>textarea{
    width: 100%;
    flex: 1 0 80px;
    box-shadow: inset 0 0 1px 1px grey;
    border-radius: 3px;
    padding: 1% 2%;
}

.addBlogForm{
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 30px;
    /* flex: 0.5; */
    align-items: flex-end;
}

.addBlogForm>h2{
    width: 100%;
    color: var(--second-color);
}

.part>div, .textareasBox>div{
    font-size: small;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.part>div>label, .textareasBox>div>label{
    color: var(--second-color);
    font-weight: bold;
}

.part>div>input, .part>div>select{
    height: 30px;
    border: none;
    box-shadow: inset 0 0 1px 1px grey;
    border-radius: 3px;
    padding: 0% 2%;
}

.addBlogForm>button{
    cursor: pointer;
    padding: 1% 3%;
    border-radius: 20px;
    background: var(--main-color);
    color: var(--font-color1);
    font-weight: bold;
    border: solid var(--second-color);
    transition-duration: 0.25s;
}

.addBlogForm>button:hover{
    color: var(--main-color) !important;
    background: var(--font-color1);
    border: solid var(--main-color);
}