.checkout-finish {
    margin: 30px auto;
    width: 50%;
    min-height: 40vh;
    padding: 40px 20px;

    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightgray;

    border-radius: 20px;
}

.checkout-finish-title {
    font-size: 3vw;
    font-weight: 600;
}

.checkout-finish-order-id {
    font-size: 2vw;
    font-weight: 300;
}

.checkout-finish-text {
    font-size: 1vw;
}

.checkout-finish-text>a{
    font-size: 1.5vw;
    color: red;
}

@media screen and (width <= 500px) {
    .checkout-finish {
        width: 80%;
    }

    .checkout-finish hr {
        width: 80%;
    }
    
    .checkout-finish-title {
        font-size: 6vw;
    }
    
    .checkout-finish-order-id {
        font-size: 5vw;
    }
    
    .checkout-finish-text {
        font-size: 3vw;
    }
    
    .checkout-finish-text>a{
        font-size: 3.5vw;
        color: red;
    }
}