@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gloria+Hallelujah&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Nunito:wght@300&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

*{
    font-family: "Montserrat", sans-serif !important;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: brown;
    gap: 10px;
}

.error h2{
    font-size: 13rem;
    margin: -10% 0%;
}

.error h4{
    font-size: 3rem;
}

.error p{
    font-size: 1.5rem;
}