
footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    text-align: center;
    background: var(--main-color);
    color: var(--font-color1);
    border-top: solid var(--second-color);
    padding: 30px 0;
    row-gap: 20px;
}

.footer-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-left {
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-center > img {
    width: 20%;
}

.footer-right a {
    font-size: 40px;
}

.footer-right ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer a:hover {
    color: rgb(165, 165, 165);
}

footer>hr {
    display: none;
}

@media screen and (width <= 500px) {
    footer{
        grid-template-columns: 1fr; /* Define dos columnas en la primera fila */
    }

    footer>hr {
        display: inline;
        margin: 0 auto;
        width: 80%;
        background-color: white;
        border: none;
        height: 2px;
    }

    .footer-left {
        font-size: 4vw;
    }

    .footer-center > img {
        width: 25%;
    }
}