.login-div {
    margin: 0 auto;

    height: 30vh;
    width: 26vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1vh;
    padding: 4vh 1vh;
    border-radius: 10px;

    background-color: rgb(0, 178, 237);
}

.login-div p {
    font-size: 22px;
    font-weight: 600;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2vh;
}

.login-form input {
    width: 60%;

    padding: 10px 30px;

    border: 1px solid black;
    border-radius: 5px;
}

.login-form button {
    padding: 1vh 6vh;

    background-color: white;
    border: none;

    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;
}

.login-form button:hover {
    color: white;
    background-color: rgb(146, 146, 146);
}

.form-error {
    color: red;
    font-size: 10px;
    font-weight: 200;
}

hr {
    width: 90%;
    background-color: black;
    border: none;

    margin: 1vh;
}

.error {
    border: 2px solid red;
}