.pageTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
  font-weight: 300;
}

.section-name {
  color: #B30000;
}

.orderCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  min-width: 40vw;
}

.orderCard-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.orderCard-body {
  display: flex;
  justify-content: space-between;
}

.orderCard-details p {
  margin: 4px 0;
}

.orderCard-details-total {
  font-size: 30px;
}

.orderCard-status {
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.orderCard-status.camino {
  background-color: #f0ad4e;
}

.orderCard-status.entregado {
  background-color: #5cb85c;
}

.orderCard-status.pagado {
  background-color: #d9534f;
}

.orderCard-footer {
  border-top: 1px solid #eee;
  padding-top: 8px;
  margin-top: 16px;
  text-align: right;
  color: #888;
}

.productCard {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  background-color: #f9f9f9;
  display: flex;
}

.productCard>div:nth-child(2) {
  padding: 20px 40px;
}

.productCard h3 {
  margin: 0 0 8px 0;
}

.productCard p {
  margin: 4px 0;
}

.addressCard {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  margin: 16px 0;
  background-color: #f0f8ff;
}

.addressCard h3 {
  margin-bottom: 12px;
}

.addressCard p {
  margin: 4px 0;
}
