.content{
    display: flex;
    gap: 7%;
    margin: 0% 8%;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5% 0%;
    flex: 0.75;
}

.postbox{
    display: flex;
    flex-direction: column;
    background: url("../img/pattern02.svg") 0% 0% / 10px repeat;
    border: solid var(--main-color);
    gap: 20px;
    padding: 4%;

}

.postbox>h1, .postbox>h3{
    color: var(--main-color);
    text-shadow: 2px 2px 2px black;
}

.postcontent{
    text-align: justify;
    padding: 5%;
    border: solid var(--main-color);
    background-color: white;
    box-shadow: 2px 2px 3px 0px black;
}

hr{
    width: 35%;
}

.divFlex1>h3{
    font-size: xx-large;
    color: var(--main-color) ;
}

aside{
    flex: 0.25;
    margin: 5% 0%;
}

.list3{
    flex-direction: column;
    gap: 20px;
}

.commentsSide>h4{
    color: var(--main-color);
    text-shadow: 1px 1px 2px black;
    font-size: large;
    text-align: center;
}

@media screen and (width <= 500px) {
    .content>aside {
        display: none;
    }

    .content>main{
        flex: 1;
    }
}