
@media screen and (max-width: 800px){
    .productData{
        flex-direction: column;
        align-items: center;
    }
    
}

.productData{
    display: flex;
    gap: 40px;
    padding: 3%;
    margin: 0% 2%;
    margin-bottom: 2%;
}

.data1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc, .pricesBox{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desc{
    margin: 0% 10%;
    margin-bottom: 2%;
}

.desc>span, .pricesBox>span, .span1{
    font-weight: bold;
    color: lightslategray;
}

.starButtons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.prices{
    display: flex;
    gap: 20px;
    align-items: flex-end;
    font-weight: bolder;
}

.sale_sale{
    color: green;
    font-size: x-large;
}

.purchase_sale{
    color: red;
    text-decoration-line: line-through;
}

.actions{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.actions button{
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    transition-duration: 0.25s;
}

.actions button:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: inset 0 0 2px 1px var(--main-color);
    color: var(--main-color);
}

.reviewsBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3%;
    margin: 0% 2%;
    margin-bottom: 2%;
}

.divFlex1>h2{
    font-size: xxx-large;
    color: var(--main-color) ;
}

.divFlex1>hr{
    width: 30rem;
    background: var(--main-color);
    height: 3px;
    border-top: none ;
    opacity: 1 ;
}

.hr1{
    width: 26rem !important;
}

.divFlex1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews>h4{
    color: var(--main-color);
    text-shadow: 1px 1px 2px black;
    font-size: large;
    text-align: center;
}

.lastProductsBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}