main{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.divFlex1{
    gap: 2%;
}

.userbox{
    /* background: antiquewhite; */
    display: flex;
    margin: 0% 6%;
    padding: 3% 3%;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0 0 20px 7px black;
}

.userbox>img{
    border-radius: 100px;
}

.userData{
    background: #ffffffc2;
    display: flex;
    gap: 15px;
    padding: 2%;
    flex: 0.75;
    flex-direction: column;
}

.defaultBanner{
    background-image: url('/img/banner01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.userbox img{
    width: 15%;
}