
.productsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    gap: 30px;
}

.productsBox>h4{
    color: var(--main-color);
    text-shadow: 1px 1px 2px black;
    font-size: large;
    text-align: center;
}